@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* DEFAULT THEME */
@theme {
  --color-primary: #F59E0B;
  --color-secondary: #F8B238;
  --color-smooth: #FEF08A;
  --color-background-primary: #F8F9FA;
  --color-background-secondary: #FFFFFF;
  --color-text-primary: #212529;
  --color-text-secondary: #495057;
  --color-text-smooth: #ADB5BD;

  --color-primary-dark: #F8B238;
  --color-secondary-dark: #F59E0B;
  --color-smooth-dark: #FEF08A;
  --color-background-primary-dark: #1C1C1E;
  --color-background-secondary-dark: #2C2C2E;
  --color-text-primary-dark: #F8F9FA;
  --color-text-secondary-dark: #9AA0A6;
  --color-text-smooth-dark: #646B73;

  --color-red: #C92A2A;
}
